# Generate financial time series (FTS) data

In [1]:
import re
import sys
import warnings
import pandas as pd # type: ignore
import yfinance as yf # type: ignore

sys.path.append('../modules')
import get_financial_time_series as get_fts # type: ignore

warnings.filterwarnings("ignore")
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', None)

## Global variables

In [2]:
input_path_raw = "../input_files/raw_data"
input_path_processed = "../input_files/processed_data"
input_path_data_dictionary = "../input_files/data_dictionary"
output_path = "../output_files"
input_generation_date = "2024-06-24"

In [4]:
# Standard and Poor's 500 - S&P 500 (United States)
# Source https://en.wikipedia.org/wiki/List_of_S%26P_500_companies
# "2000-01-01" - "2022-12-31"
# GEV: Data doesn't exist for startDate = 946702800, endDate = 1672462800")
# KVUE: Data doesn't exist for startDate = 946702800, endDate = 1672462800")
# SOLV: Data doesn't exist for startDate = 946702800, endDate = 1672462800")
# VLTO: Data doesn't exist for startDate = 946702800, endDate = 1672462800")

#df_stock_index = pd.read_csv("{}/sp500_tickers.csv".format(input_path_data_dictionary), low_memory = False)

# Mexico Price and Quote Index (Mexico)
# source https://es.finance.yahoo.com/quote/%5EMXX/components/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAICc-QDC-sGwCChRyZU_MzY5IZIpLgF6EOVbbq-P7L_F6E0ur0Zz-MAwE1zXvNewk1qXCrCh4tU6A48XLFTPTaxgwdtcHisQnftQhKrJjlhLFjzRswWW8ybr08epnyjiWfra8DQjOdPTIIBrNB86THdyO7MnRmHpizHkFyNPL1Np
# "2005-01-03" - "2022-12-31"

#df_stock_index = pd.read_csv("{}/ipc_mexico_tickers.csv".format(input_path_data_dictionary), low_memory = False)

# DAX Performance Index (Germany)
# source https://markets.businessinsider.com/index/components/dax
# "2001-01-01" - "2022-12-31"

df_stock_index = pd.read_csv("{}/dax_tickers.csv".format(input_path_data_dictionary), low_memory = False)

list_stock_indexes = df_stock_index.set_index("ticker")["ticker_name"].to_dict()

## Download time series - Stock indexes

In [5]:
df_market = get_fts.process_financial_time_series(
    ticker_dict = list_stock_indexes,
    initial_date = "2000-01-01",
    final_date = "2024-12-31",#input_generation_date,
    interval = "1d"
)

----------------------------------- YAHOO FINANCE DATA -----------------------------------

- Download 1COV.DE with initial 2238 rows and 2191 rows after profiling
- Processed 1COV.DE : COVESTRO
- Download ADS.DE with initial 6280 rows and 6124 rows after profiling
- Processed ADS.DE : ADIDAS
- Download AIR.DE with initial 6280 rows and 6009 rows after profiling
- Processed AIR.DE : AIRBUS
- Download ALV.DE with initial 6280 rows and 6144 rows after profiling
- Processed ALV.DE : ALLIANZ
- Download BAS.DE with initial 6280 rows and 6161 rows after profiling
- Processed BAS.DE : BASF
- Download BAYN.DE with initial 6280 rows and 6094 rows after profiling
- Processed BAYN.DE : BAYER
- Download BEI.DE with initial 6280 rows and 6141 rows after profiling
- Processed BEI.DE : BEIERSDORF
- Download BMW.DE with initial 6280 rows and 6157 rows after profiling
- Processed BMW.DE : BMW
- Download BNR.DE with initial 3640 rows and 3573 rows after profiling
- Processed BNR.DE : BRENNTAG
- Download CBK.DE with initial 6280 rows and 6120 rows after profiling
- Processed CBK.DE : COMMERZBANK
- Download CON.DE with initial 6280 rows and 6125 rows after profiling
- Processed CON.DE : CONTINENTAL
- Download DB1.DE with initial 5995 rows and 5872 rows after profiling
- Processed DB1.DE : DEUTSCHE BORSE
- Download DBK.DE with initial 6280 rows and 6160 rows after profiling
- Processed DBK.DE : DEUTSCHE BANK
- Download DHL.DE with initial 6001 rows and 5935 rows after profiling
- Processed DHL.DE : DEUTSCHE POST
- Download DTE.DE with initial 6280 rows and 6081 rows after profiling
- Processed DTE.DE : DEUTSCHE TELEKOM
- Download DTG.DE with initial 669 rows and 635 rows after profiling
- Processed DTG.DE : DAIMLER TRUCK
- Download ENR.DE with initial 975 rows and 948 rows after profiling
- Processed ENR.DE : SIEMENS ENERGY
- Download EOAN.DE with initial 6280 rows and 6147 rows after profiling
- Processed EOAN.DE : E.ON
- Download FME.DE with initial 6280 rows and 6149 rows after profiling
- Processed FME.DE : FRESENIUS MEDICAL CARE
- Download FRE.DE with initial 6280 rows and 6087 rows after profiling
- Processed FRE.DE : FRESENIUS SE AND CO
- Download HEI.DE with initial 6280 rows and 6110 rows after profiling
- Processed HEI.DE : HEIDELBERG MATERIALS
- Download HEN3.DE with initial 6279 rows and 6139 rows after profiling
- Processed HEN3.DE : HENKEL VZ
- Download HNR1.DE with initial 6070 rows and 5907 rows after profiling
- Processed HNR1.DE : HANNOVER RUCK
- Download IFX.DE with initial 6230 rows and 6076 rows after profiling
- Processed IFX.DE : INFINEON
- Download LHA.DE with initial 6280 rows and 6109 rows after profiling
- Processed LHA.DE : DEUTSCHE LUFTHANSA
- Download LIN.DE with initial 5085 rows and 1941 rows after profiling
- Processed LIN.DE : LINDE PLC
- Download MBG.DE with initial 6280 rows and 6164 rows after profiling
- Processed MBG.DE : MERCEDES-BENZ GROUP
- Download MRK.DE with initial 6280 rows and 6103 rows after profiling
- Processed MRK.DE : MERCK
- Download MTX.DE with initial 4865 rows and 4791 rows after profiling
- Processed MTX.DE : MTU AERO ENGINES
- Download MUV2.DE with initial 6280 rows and 6146 rows after profiling
- Processed MUV2.DE : MUNCHENER RUCKVERSICHERUNGS-GESELLSCHAFT
- Download P911.DE with initial 463 rows and 448 rows after profiling
- Processed P911.DE : PORSCHE
- Download PAH3.DE with initial 3936 rows and 3890 rows after profiling
- Processed PAH3.DE : PORSCHE AUTOMOBIL HOLDING
- Download QIA.DE with initial 6280 rows and 5960 rows after profiling
- Processed QIA.DE : QIAGEN
- Download RHM.DE with initial 6280 rows and 6029 rows after profiling
- Processed RHM.DE : RHEINMETALL
- Download RWE.DE with initial 6280 rows and 6174 rows after profiling
- Processed RWE.DE : RWE
- Download SAP.DE with initial 6280 rows and 6145 rows after profiling
- Processed SAP.DE : SAP
- Download SRT3.DE with initial 6280 rows and 5900 rows after profiling
- Processed SRT3.DE : SARTORIUS
- Download SIE.DE with initial 6280 rows and 6150 rows after profiling
- Processed SIE.DE : SIEMENS
- Download SHL.DE with initial 1597 rows and 1556 rows after profiling
- Processed SHL.DE : SIEMENS HEALTHINEERS
- Download SY1.DE with initial 4473 rows and 4394 rows after profiling
- Processed SY1.DE : SYMRISE
- Download VNA.DE with initial 2802 rows and 2742 rows after profiling
- Processed VNA.DE : VONOVIA
- Download VOW3.DE with initial 6280 rows and 6155 rows after profiling
- Processed VOW3.DE : VOLKSWAGEN
- Download ZAL.DE with initial 2492 rows and 2443 rows after profiling
- Processed ZAL.DE : ZALANDO

## Save data in input files for no reprocessing

In [6]:
# Standard and Poor's 500 - S&P 500 (United States)
#df_market.to_pickle("{}/df_stock_index_gspc_{}.pkl".format(input_path_processed, re.sub("-", "", input_generation_date)))

# Mexico Price and Quote Index (Mexico)
#df_market.to_pickle("{}/df_stock_index_mxx_{}.pkl".format(input_path_processed, re.sub("-", "", input_generation_date)))

# DAX Performance Index (Germany)
df_market.to_pickle("{}/df_stock_index_gdaxi_{}.pkl".format(input_path_processed, re.sub("-", "", input_generation_date)))

df_market

,date,symbol,Adj Close,return,log_return,z_score_log_return
0,2015-10-07,1COV.DE,20.616699,-0.078093,0.000000,0.000000
1,2015-10-08,1COV.DE,20.288704,-0.327995,-0.016037,-0.778247
2,2015-10-09,1COV.DE,20.460512,0.171808,0.008432,0.384645
3,2015-10-12,1COV.DE,20.304325,-0.156187,-0.007663,-0.380274
4,2015-10-13,1COV.DE,20.070045,-0.234280,-0.011606,-0.567644
...,...,...,...,...,...,...
218320,2024-07-17,ZAL.DE,24.090000,-0.430000,-0.017692,-0.648976
218321,2024-07-18,ZAL.DE,24.250000,0.160000,0.006620,0.238710
218322,2024-07-19,ZAL.DE,23.290001,-0.959999,-0.040392,-1.477808
218323,2024-07-22,ZAL.DE,23.309999,0.019999,0.000858,0.028346
218324,2024-07-23,ZAL.DE,23.209999,-0.100000,-0.004299,-0.159967